<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.cupk.cecs.event.mapper.ProcessMapper">
    <insert id="insertNewOne">
        INSERT INTO process(status, event_id)
        VALUES (0,#{eventId})
    </insert>
    <insert id="insertOne">
        INSERT INTO process(status, event_id)
        VALUES (0, #{eventId})
    </insert>
    <update id="fillNextNode">
        UPDATE process
        SET next = #{newNode}
        WHERE id = #{processId}
    </update>
    <update id="updateStatus">
        UPDATE process
        SET status = 1
        WHERE id = #{processId}
    </update>

    <select id="acquireNumOfEvent" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM process
        WHERE event_id = #{eventId}
    </select>
    <select id="findEndNode" resultType="java.lang.Integer">
        SELECT id
        FROM process
        WHERE `status` = 0 AND event_id = #{eventId}
    </select>

</mapper>