<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.cupk.event.mapper.HumanResourceMapper">
    <update id="getResource" parameterType="cn.edu.cupk.event.pojo.entity.HumanResource" >
        UPDATE human_resource
        <foreach collection="selectList" item="item" index="index" separator=",">
            SET	number = number - #{item.number}
            WHERE id = #{item.id}
        </foreach>
    </update>
    <select id="getListByType" resultType="cn.edu.cupk.event.pojo.entity.HumanResource">
        SELECT DISTINCT
            human_resource.id,
            human_resource.type,
            human_resource.number,
            human_resource.distance
        FROM
            human_resource
        WHERE
            human_resource.type = #{type}
        ORDER BY
            human_resource.distance ASC
    </select>
</mapper>