<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.cupk.event.mapper.SupplyMapper">
    <update id="updateSupply">
        UPDATE supply
        SET inventory = inventory - #{number}
        WHERE supply_name = #{name}
    </update>
    <select id="findSupplyID" resultType="java.lang.Long">
        SELECT supply_id
        FROM supply
        WHERE supply_name = #{name}
    </select>
</mapper>